*{
    margin: 0;
    padding: 0;
    
}

body{
    justify-content:space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
#root{
    padding: 0;
}

.nav-container{

    align-items: center;
    width: 100%;
    height: 50px;
    padding: 3px 25px;
    gap: 10px;
    display: flex;
    top: 0;
    justify-content: center;
    background-color: rgb(55, 125, 247);
    border-top:  rgb(255, 242, 1) 3px solid; 
    font-size: 1rem;
    color: white;

}

.DetailItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;

}


/* Contenedor principal de la tarjeta */
.item-card {
    max-width: 18rem; /* Ancho máximo de la tarjeta */
  }
  
  .card-img-top{
      height: 300px;
    object-fit: cover;
  }
  
  .item-card-img {
    object-fit: cover; 
    height: 200px; 
  }
  

  .card-title {
    font-size: 1.25rem; 
  }
  

  .item-card-button {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .category-title {
    font-size: 2.5rem; /* Tamaño destacado pero refinado */
    font-weight: 600; /* Fuente semi-negrita para un toque moderno */
    color: #333; /* Un gris oscuro más suave y elegante */
    text-transform: capitalize; /* Capitaliza la primera letra de cada palabra */
    letter-spacing: 1px; /* Ligero espaciado para una estética más limpia */
    text-align: center; /* Centra el texto */
    margin: 1rem 0; /* Margen para separar del resto del contenido */
    background: linear-gradient(90deg, #fc25f1a1, #fbb5f767); /* Fondo degradado */
    font-family: 'Dancing Script', 'Crimson Text', serif;
    font-weight: bold;
    color: #000;
    border-bottom: 3px solid #6a11cb; /* Línea inferior con el mismo tono */
    padding-bottom: 0.5rem; /* Espaciado inferior para separar la línea del texto */
  }
  
  .image-container {
    background-color: #f7a0fa7e; /* Fondo claro */
    padding: 20px; /* Espaciado interno */
    width: auto;
    border-radius: 3% 0% 0% 3%; /* Bordes redondeados */
  }
  
  .content-container {
    background-color:  #f7a0fa7e; /* Fondo claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 0px 3% 3% 0px; /* Bordes redondeados */
  }
  
  .price-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaciado entre los elementos */
  }
  
  .price-container p {
    margin: 0; /* Quita el margen por defecto */
  }
  
  .navBarContainer{
    background-color: #f7a0fa7e;
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255); /* Fondo semitransparente */
    z-index: 1000;
  }
  
  .loading-overlay p {
    margin-top: 10px;
    margin-left: 5px;
    color: #000000; /* Texto en blanco para contraste */
    font-size: 1.2rem;
  }